@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.text-center {
  text-align: center !important;
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  max-width: 200px;
  border-radius: 100px;
  font-weight: 500;
}

.btn-code-editor {
  display: block;
  border-radius: 4px;
  text-align: left;
  border: none;
  padding: 0.6rem 1.1rem;
  display: inline-block;
  overflow: hidden;
  flex-wrap: nowrap;
  white-space: nowrap;
}

h4 {
  margin: 10px 0;
}

.bg-lgt-blue {
  background-color: #96d4d4;
}

.bg-beige {
  background-color: #fff4a3;
}

.bg-dark {
  background-color: #282a35;
  color: #ffffff;
}

.bg-grey {
  background-color: #f3ecea;
}

.bg-green {
  background-color: #04aa6d;
  color: white;
}

.bg-silver {
  background-color: #e7e9eb;
}

.bg-white {
  background-color: #ffffff;
}

.bg-pink {
  background-color: #ffc0c7;
  color: #282a35;
}

.bg-olive {
  background-color: #d9eee1;
}

.p-3 {
  padding: 3%;
}

.p-2 {
  padding: 2%;
}

.p-1 {
  padding: 1%;
}

.m-a {
  margin: 0 auto;
}

nav {
  padding: 0.6em 1em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  gap: 1em;
}

header {
  background-color: #282a35;
  color: #ffffff;
  padding: 90px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex-wrap: nowrap;
}

header h1 {
  font-size: 50px;
}
header h3 {
  font-size: 21px;
  color: #ffc0c7;
}

form {
  width: 500px;
}

input,
p {
  display: inline-block;
  border-radius: 25px;
}

input {
  border: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 17px;
  padding: 12px;
}

p {
  position: relative;
  left: -4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  form {
    max-width: 500px;
  }
}
.code-editor {
  padding: 1.875rem 0.188rem 5.313rem 0.188rem;
  color: #ffffff;
}

.container-editor {
  margin: 0 auto;
}

.code-editor-header {
  font-size: 4.063rem;
  font-weight: bold;
}

.code-editor-sub-header {
  margin-top: 1.563rem;
}

.gif-row {
  background: #f1f1f1;
  padding: 0.625rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  clear: both;
  display: flex;
  justify-content: space-between;
}

.gif-row-el1 {
  width: 24%;
  display: block;
}

.gif-row-el2 {
  width: 73%;
  display: flex;
  justify-items: flex-start;
}

.red {
  background-color: #ed594a;
}

.yellow {
  background-color: #fdd800;
}

.green {
  background-color: #5ac05a;
}

.gif-dot {
  margin-top: 5px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 3px;
}

.gif-url {
  border-style: none;
}

.gif-switch {
  background-color: #f1f1f1;
  font-size: 1.1rem;
  display: flex;
  justify-content: flex-start;
}

.switch-btn {
  padding: 0.5rem 1rem;
  border: none;
  font-weight: 400;
}

#frontend img {
  width: 100%;
  height: auto;
  display: block;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.container-editor {
  padding: 0.5rem 1rem;
}

.code-btn {
  color: black;
  display: block;
  float: left;
  width: 100%;
  text-align: start;
  border-radius: 3px;
  font-weight: 600;
}

@media screen and (min-width: 600px) {
  .code-btn {
    display: inline-block;
    width: auto;
  }
}
footer {
  padding: 32px 16px;
}
footer .part3 p {
  font-size: 15px !important;
}

.part1 {
  padding: 0.01em 16px;
  display: flex;
  justify-content: center;
}

.part1-btns {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.part3 {
  font-size: 15px;
}

.ftr-btn {
  font-weight: 500;
  background-color: #ffffff;
  padding: 8px 16px;
  color: #282a35;
  margin: 0 0 16px;
  border-radius: 5px;
  width: 100%;
}

.part1-btns > .ftr-btn {
  max-width: 300px;
}

.btn-inline {
  display: inline-block;
  max-width: 30%;
}

@media screen and (min-width: 990px) {
  .part1-btns {
    display: block;
  }

  .btn-inline {
    width: 10%;
  }

  .ftr-btn {
    width: 10%;
    display: inline-block;
  }
}
.text-center {
  text-align: center !important;
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  max-width: 200px;
  border-radius: 100px;
  font-weight: 500;
}

.btn-code-editor {
  display: block;
  border-radius: 4px;
  text-align: left;
  border: none;
  padding: 0.6rem 1.1rem;
  display: inline-block;
  overflow: hidden;
  flex-wrap: nowrap;
  white-space: nowrap;
}

h4 {
  margin: 10px 0;
}

.bg-lgt-blue {
  background-color: #96d4d4;
}

.bg-beige {
  background-color: #fff4a3;
}

.bg-dark {
  background-color: #282a35;
  color: #ffffff;
}

.bg-grey {
  background-color: #f3ecea;
}

.bg-green {
  background-color: #04aa6d;
  color: white;
}

.bg-silver {
  background-color: #e7e9eb;
}

.bg-white {
  background-color: #ffffff;
}

.bg-pink {
  background-color: #ffc0c7;
  color: #282a35;
}

.bg-olive {
  background-color: #d9eee1;
}

.p-3 {
  padding: 3%;
}

.p-2 {
  padding: 2%;
}

.p-1 {
  padding: 1%;
}

.m-a {
  margin: 0 auto;
}

.svg-container {
  position: relative;
}

.main-item {
  padding: 2rem 0;
}

.main-flex {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  margin: 2px 0 -20px 0 !important;
}

.main-language-header {
  font-size: 3.75rem;
  font-weight: 700;
}

.main-sub-header {
  font-size: 1.188rem;
}

p {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.main-item-half {
  width: 49%;
}

.code-container {
  padding: 1rem;
  text-align: start;
  font-family: "Roboto Mono", monospace;
  -webkit-box-shadow: 0 0 10px grey;
  box-shadow: 0 0 10px grey;
}

.border-green {
  border-left: 4px solid #04aa6d;
}

@media screen and (max-width: 600px) {
  .code-snippet {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .main-item-half {
    width: 100%;
  }
}
.others {
  background-color: #282a35;
  padding: 4rem 0;
}

.box {
  padding: 2% 3%;
}

.box-wrapper {
  padding: 1.5rem;
  border-radius: 4px;
}

.box-header {
  font-size: 2.813rem;
  font-weight: 900;
}

.box-desc {
  height: 4.375rem;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0.625em 0;
}

.box-wrapper-PHP {
  background-color: #ffc0c7;
}

.box-wrapper-JQuery {
  background-color: #fff4a3;
}

.box-wrapper-Java {
  background-color: #f3ecea;
}

.box-wrapper-C {
  background-color: #d9eee1;
}

.box-wrapper-W3 {
  background-color: #96d4d4;
}

.box-wrapper-boot {
  background-color: #e7e9eb;
}

.smaller_btns {
  margin: 0 auto;
}

.others-container {
  margin: 0 auto;
}

@media screen and (min-width: 990px) {
  .box-halve {
    width: 49%;
  }

  .others-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.bg-btn {
  background-color: #282a35 !important;
  padding-bottom: 4rem;
}

.bg-btn-wrapper {
  margin: 0 auto;
  padding: 2% 3%;
}

.bg-btn-wrapper-item {
  padding: 2.25rem 1.5rem;
  height: auto;
  width: 99%;
  margin: 0 auto;
  border-radius: 5px;
}

.bg-btn-wrapper-item-sml {
  padding: 2% 3%;
  height: auto;
  width: 99%;
  margin: 0 auto;
  border-radius: 5px;
}

.bg-btn-header {
  color: #282a35;
  font-size: 1.875rem;
  font-weight: 600;
  margin: 10px 0;
  padding: 2.25rem 1.5rem;
}

@media only screen and (min-width: 600px) and (max-width: 990px) {
  .med {
    min-width: 49.9%;
  }

  .smaller_btns {
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 990px) {
  .big {
    width: 24.99%;
  }

  .halve {
    width: 49.99%;
  }

  .bg-btn-top {
    display: flex;
  }

  .smaller_btns {
    display: flex;
    flex-wrap: wrap;
  }
}
.school-space {
  background: #282a35 url(https://www.w3schools.com/spaces/files/priscilla-du-preez-XkKCui44iM0-unsplash.921aa0c0.jpg) no-repeat fixed center;
}

.school-space-container {
  background-color: #282a35;
  opacity: 0.96;
  margin: auto;
  padding: 5.313rem 1.25rem;
}

.school-img {
  display: none;
}

@media screen and (min-width: 990px) {
  .school-img {
    display: block;
  }
}
.colorPicker {
  padding-top: 78px;
  padding-bottom: 95px;
  background-color: #e7e9eb;
}

.codeGame {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #96d4d4;
}

.codeGame h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.codeGame button {
  font-weight: 600;
  padding: 8px 16px;
}

.codeGame img {
  margin: 10px auto;
}

.code-game-h2 {
  margin: 10px auto;
}

.exercises {
  padding-top: 64px;
  padding-bottom: 80px;
  color: #ffffff;
}

#bgImg {
  background: #272934 url(https://www.w3schools.com/about/w3codes.png) no-repeat fixed center;
}

.rectangle {
  padding: 70px 50px;
  font-size: 35px;
  width: 87%;
  opacity: 0.97;
  border-radius: 5px;
  margin: 20px auto;
  font-weight: 700;
}

@media screen and (min-width: 600px) {
  .btn-flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .rectangle {
    width: 46%;
  }
}
.webTemplates {
  padding: 64px 24px 90px 24px;
}

.web-img {
  margin: 20px auto;
}

.webTemp-btn {
  display: block;
  margin: 8px auto;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  border-radius: 100px;
}

.web_link_container {
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  .web_link_container {
    width: 50%;
  }
}
.kickstart {
  background: #282a35;
  padding: 0 60px 50px 60px;
  color: #ffc0c7;
  position: relative;
}
.kickstart div a {
  border-radius: 50px;
  font-size: 18px;
  background-color: #04aa6d;
  padding: 17px 55px;
}

#kickstart-dip h2 {
  font-weight: 400;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 55px;
}

#kickstart-dip h3 {
  margin: 10px auto;
  font-size: 40px;
}

#kickstart-dip p {
  width: 100%;
}

#kickstart-dip p a {
  width: 100% !important;
  margin: 16px auto !important;
}

#w3_cert_badge {
  position: absolute;
  right: 5%;
  width: 220px;
  transform: rotate(10deg);
  bottom: -15%;
}

#kick-start-btn {
  display: block;
  margin-left: 0;
}

@media screen and (max-width: 600px) {
  #w3_cert_badge {
    top: -35px;
    right: 10px;
    width: 100px;
  }
}
.howTo {
  padding: 85px 24px 90px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  max-width: 980px;
  margin: 0 auto;
}

#howToId h2 {
  font-size: 45px;
  font-weight: 700;
}

#howToId h4 {
  font-size: 20px;
}

#howToId h6 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.slide-box {
  background-color: #e7e9eb;
  position: relative;
  padding-bottom: 50px;
}

.slides img {
  width: 100% !important;
}

.next {
  position: absolute;
  padding: 5px;
  background-color: rgba(40, 42, 53, 0.9);
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.stand1 {
  height: 45px;
  border-left: 50px solid #282a35;
}

.computer_stand {
  margin-top: 0;
  position: relative;
  display: flex;
  justify-content: center;
}

.stand1 {
  position: absolute;
  top: -15px;
}

.stand2 {
  margin-top: 30px;
  width: 100%;
  background-color: #282a35;
  color: #fff;
  padding: 16px 0px;
  border-radius: 25px;
}

.stand2 a {
  color: #ffffff;
  font: 1.1rem;
  font-weight: 800;
}

@media screen and (min-width: 600px) {
  .stand2 {
    width: 50%;
  }
}
body {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
}

/*# sourceMappingURL=style.css.map */
