.bg-btn {
  background-color: $dark !important;
  padding-bottom: 4rem;
}
.bg-btn-wrapper {
  // max-width: 1400px;
  margin: 0 auto;
  padding: 2% 3%;
}
.bg-btn-wrapper-item {
  padding: 2.25rem 1.5rem;
  height: auto;
  width: 99%;
  margin: 0 auto;
  border-radius: 5px;
}
.bg-btn-wrapper-item-sml {
  padding: 2% 3%;
  height: auto;
  width: 99%;
  margin: 0 auto;
  border-radius: 5px;
}
.bg-btn-header {
  color: $dark;
  font-size: 1.875rem;
  font-weight: 600;
  margin: 10px 0;
  padding: 2.25rem 1.5rem;
}
@media only screen and (min-width: 600px) and (max-width: 990px) {
  .med {
    min-width: 49.9%;
  }
  .smaller_btns {
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    // this needs work
  }
}
@media only screen and (min-width: 990px) {
  .big {
    width: 24.99%;
  }
  .halve {
    width: 49.99%;
  }
  .bg-btn-top {
    display: flex;
  }
  .smaller_btns {
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    // this needs work
  }
}
