.code-editor {
  padding: 1.875rem 0.188rem 5.313rem 0.188rem;
  color: $white;
}
.container-editor {
  margin: 0 auto;
}
.code-editor-header {
  font-size: 4.063rem;
  font-weight: bold;
}
.code-editor-sub-header {
  margin-top: 1.563rem;
}
.gif-row {
  background: #f1f1f1;
  padding: 0.625rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  clear: both;
  display: flex;
  justify-content: space-between;
}
.gif-row-el1 {
  width: 24%;
  display: block;
}
.gif-row-el2 {
  width: 73%;
  display: flex;
  justify-items: flex-start;
}
.red {
  background-color: $btn-red;
}
.yellow {
  background-color: $btn-yellow;
}
.green {
  background-color: $btn-green;
}
.gif-dot {
  margin-top: 5px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 3px;
}
.gif-url {
  border-style: none;
}
.gif-switch {
  background-color: #f1f1f1;
  font-size: 1.1rem;
  display: flex;
  justify-content: flex-start;
}
.switch-btn {
  padding: 0.5rem 1rem;
  border: none;
  font-weight: 400;
}
#frontend img {
  width: 100%;
  height: auto;
  display: block;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.container-editor {
  padding: 0.5rem 1rem;
}
.code-btn {
  display: flex;
  color: black;
  flex-direction: column;
}
