.codeGame {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $light-blue;
}
.codeGame h1 {
  font-size: 48px;
  margin-bottom: 15px;
}
.codeGame button {
  font-weight: 600;
  padding: 8px 16px;
}
.codeGame img {
  margin: 10px auto;
}
.code-game-h2 {
  margin: 10px auto;
}
