.text-center {
  text-align: center !important;
}
.btn {
  display: block;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  max-width: 200px;
  border-radius: 100px;
  border: 1px solid black;
}
h4 {
  margin: 10px 0;
}
.bg-lgt-blue {
  background-color: $light-blue;
}
.bg-beige {
  background-color: $beige;
}
.bg-dark {
  background-color: $dark;
}
.bg-grey {
  background-color: $light-grey;
}
