.text-center {
  text-align: center !important;
}
.btn {
  display: block;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  max-width: 200px;
  border-radius: 100px;
  font-weight: 500;
  white-space: nowrap;
  // border: 1px solid black;
}
.btn-code-editor {
  display: block;
  border-radius: 4px;
  text-align: left;
  border: none;
  padding: 0.6rem 1.1rem;
  display: inline-block;
  overflow: hidden;
  flex-wrap: nowrap;
  white-space: nowrap;
}
h4 {
  margin: 10px 0;
}
.bg-lgt-blue {
  background-color: $light-blue;
}
.bg-beige {
  background-color: $beige;
}
.bg-dark {
  background-color: $dark;
  color: $white;
}
.bg-grey {
  background-color: $light-grey;
}
.bg-green {
  background-color: $green;
  color: white;
}
.bg-silver {
  background-color: $silver;
}
.bg-white {
  background-color: $white;
}
.bg-pink {
  background-color: $pink;
  color: $dark;
}
.bg-olive {
  background-color: $olive;
}

// paddings
.p-3 {
  padding: 3%;
}
.p-2 {
  padding: 2%;
}
.p-1 {
  padding: 1%;
}
.m-a {
  margin: 0 auto;
}
