.kickstart {
  background: $dark;
  padding: 0 60px 50px 60px;
  color: $pink;
  position: relative;
  div {
    a {
      border-radius: 50px;
      font-size: 18px;
      background-color: #04aa6d;
      padding: 17px 55px;
    }
  }
}

#kickstart-dip h2 {
  font-weight: 400;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 55px;
}
#kickstart-dip h3 {
  margin: 10px auto;
  font-size: 40px;
}
#kickstart-dip p {
  width: 100%;
}
#kickstart-dip p a {
  width: 100% !important;
  margin: 16px auto !important;
}
#w3_cert_badge {
  position: absolute;
  right: 5%;
  width: 220px;
  transform: rotate(10deg);
  bottom: -15%;
}
#kick-start-btn {
  display: block;
  margin-left: 0;
}

@media screen and (max-width: 600px) {
  #w3_cert_badge {
    top: -35px;
    right: 10px;
    width: 100px;
  }
}
