@import "../abstracts/variables";
main {
  //   position: relative;
}
.svg-container {
  position: relative;
}
.main-item {
  padding: 2rem 0;
}

h1 {
  margin: 2px 0 -20px 0 !important;
}
.main-language-header {
  font-size: 3.75rem;
  font-weight: 700;
}
.main-sub-header {
  font-size: 1.188rem;
}
p {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}
