@import "../abstracts/variables";
main {
  //   position: relative;
}
.svg-container {
  position: relative;
}
.main-item {
  padding: 2rem 0;
}
.HTML {
  background-color: $light-blue;
}
.CSS {
  background-color: $beige;
}
.javascript {
  background-color: $dark;
}
.python {
  background-color: $light-grey;
}
.SQL {
  background-color: $light-blue;
}

h1 {
  margin: 2px 0 -20px 0 !important;
}
.main-language-header {
  font-size: 3.75rem;
  font-weight: 700;
}
.main-sub-header {
  font-size: 1.188rem;
}
p {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}
