.school-space {
  background: #282a35
    url(https://www.w3schools.com/spaces/files/priscilla-du-preez-XkKCui44iM0-unsplash.921aa0c0.jpg)
    no-repeat fixed center;
}
.school-space-container {
  background-color: #282a35;
  opacity: 0.96;
  margin: auto;
  padding: 5.313rem 1.25rem;
}
