.webTemplates {
  padding: 64px 24px 90px 24px;
}
.web-img {
  margin: 20px auto;
}
.webTemp-btn {
  display: block;
  margin: 8px auto;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  border-radius: 100px;
}
.web_link_container {
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  .web_link_container {
    width: 50%;
  }
}
